body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 40px;
}
.color{
    color: turquoise;
}
section{
    display: flex;
    padding-left: 5%;
}
.half-width{
    width: 50%;
}
.batom{
    text-decoration: none;
   background-color: darkorange;
    padding: 10px 40px;
    border-radius: 5px;
}
.top{
    
    padding-left: 20px;
    padding-right: 5px;
}
table{
     height: 300px;
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: cornflowerblue;
    color: black;
    padding: 10px;
    
}
th,td{
    border: 1px solid black;
    padding: 10px;
    
    
}

.div{
    width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}
